
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HLS Streaming</title>
</head>
<body>
  <video id="video" controls width="640" height="360"></video>

  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script>
    const video = document.getElementById('video');
    const hls = new Hls();

    const masterUrl = 'http://127.0.0.1:8000/media/{{session.hls_file}}'

    hls.loadSource(masterUrl);
    hls.attachMedia(video);

    hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
      console.log('Available quality levels:', data.levels);

      const select = document.createElement('select');
      data.levels.forEach((level, index) => {
        const option = document.createElement('option');
        option.value = index;
        option.text = `${level.height}p`;
        select.appendChild(option);
      });

      select.addEventListener('change', function () {
        hls.currentLevel = parseInt(this.value);
      });

      document.body.appendChild(select);
    });
  </script>
</body>
</html>
